* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

h1 {
    margin-bottom: 20px;

}

h3 {
    margin-bottom: 20px;
}


.question {

    padding: 10px;
    background-color: lightgray;
}

.question:hover {
    background-color: gray;
    cursor: pointer;
}

.answer {
    display: none;
    padding: 10px;
}
